.main {
    width: 100%;
    background-color: #080808;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    flex-wrap: wrap;
}

.text {
    margin: 0.25rem 0.5rem;
}

/* Hide 3rd on tablets */
@media (max-width: 1024px) {
    .text:nth-child(3) {
        display: none;
    }
}

/* Hide 2nd and 3rd on mobiles */
@media (max-width: 768px) {

    .text:nth-child(2),
    .text:nth-child(3) {
        display: none;
    }
}